.App {
  display: flex;
  margin: 20px; 
  min-height: 100vh;
  flex-direction: row;
}

.form-control {
  width: 500px;
}

.form-control:focus {
  border-color: #FA8800;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #FA8800;
}

.user-form {
  width: 50%;
  align-items: center;
  justify-content: center;
  border-right: 1px solid gray;
  flex-direction: column;
  display: flex;
}

header {
  height: 60px;
  background-color: #FA8800;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.app-table {
  flex-direction: column;
  margin-left: 20px;
  display: flex;
  width: 50%;
}

tr {
  text-align: center;
  align-items: center;

}


.btn, .btn:focus, .btn:active, .btn:hover {
  background-color: #FA8800;
  outline: none !important;
  box-shadow: none;
  transition-delay:0.08s;
  border-color: white;
}

.text-header {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
}

.text-register {
  position: absolute;
  margin: 100px 200px;
}

td {
  text-overflow: ellipsis;
  overflow: hidden; 
}

table {
  table-layout: fixed;
}

